html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
}

.nav-item .btn {
  background-color: white !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}

.nav-item .btn.btn-secondary {
  background-color: #6c757d !important;
  color: white !important;
}

.custom-dropdown .btn,
.custom-dropdown .dropdown-toggle {
  background-color: white !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}

.custom-dropdown.active .btn,
.custom-dropdown.active .dropdown-toggle {
  background-color: #6c757d !important;
  color: white !important;
}

.custom-dropdown .dropdown-menu {
  box-shadow: none !important;
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
  background-color: #f8f9fa !important;
  color: black !important;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100% - 10rem);
}
